/*
1280 and greater

Set a max-width for the page.
Add a body background gradient.
*/

header, #main_content, footer {
	width:960px; /* 1280 - 7 - 7 */
	margin:0 auto;
}

#background_decorative {
	display:block;
	position:absolute;
	top:97px;
	padding:12px 0;
	font-size: 1.21em;
	font-weight:bold;
	width:100%;
	z-index:-1;
}

.home #background_decorative {
	top:106px;
}

.rgba #background_decorative {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%); /* W3C */
}
